body {
	width: 400px;
	margin: 0.5rem;
}
.container {
	width: 100%;
	height: 100%;
}

.title {
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
	color: #db1f48;
}

.textbox {
	width: 100%;
	font-size: 12px;
	margin: 0;
	padding: 0px 2px;
}

.textbox:focus {
	outline: 0;
	border-color: #66afe9;
}

header {
	display: flex;
	align-items: center;
	padding: 0px 5px;
	gap: 3px;
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 5px;
}

.description {
	text-align: center;
	color: #004369;
	margin-right: 0.5rem;
}

.header-icon {
	width: 1.75rem;
	height: 1.75rem;
}

.bookmarks {
	padding: 3px;
}

.bookmark {
	display: flex;
	border-radius: 0.5rem;
	background-color: #e5ddc8;
	margin-bottom: 0.5rem;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-in-out;
}

.bookmark-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 1rem;
}

.bookmark:hover {
	background-color: #e5ddc8d0;
	color: #fff;
}

.bookmark-video-title {
	margin: 0.25rem;
	color: rgb(97, 97, 97);
	font-weight: bold;
	flex-grow: 1;
}

.bookmark-title {
	padding-left: 2px;
	color: #01949a;
}

.bookmark-controls img {
	margin: 0 4px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.bookmark-controls {
	flex: auto;
	text-align: right;
	margin-right: 0.5rem;
}

.bookmark-section {
	display: flex;
	flex-direction: column;
}
.bookmark-thumbnail {
	border-radius: 0.5rem;
	border: 2px solid white;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.bookmark-btn {
	width: 6px;
	height: 6px;
}

p {
	text-align: center;
	color: #03001c;
}
